
  <!-- <mat-card>
    <mat-card-header>
      <mat-card-title><h1>Dialog Demo</h1></mat-card-title>
    </mat-card-header>
    <hr>
    <mat-card-content>
      <button mat-raised-button (click)="openAddEventDialog()">Open Dialog</button>
      <hr>
      <strong>Result: {{dialogResult}}</strong>
    </mat-card-content>
  </mat-card> -->

  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened="false" style="overflow: hidden !important;">
        <div class="canvas-side"> 
        <header style="overflow: hidden !important;">
        <form class="search" (submit)="onSubmit()">
            <label for="search_input">
                <input id="search_input" type="text" placeholder="Search for keywords...">
            </label>
        </form>
        </header>   
          <h1>Testssssss</h1>
          <!-- <div class="container">
  <p>Show all users</p>
  <ul>
  <li *ngFor="let user of users | async">
       {{ user.name | json }}
    </li>
  </ul>
</div> -->
        </div>
    </mat-sidenav>
    
    <div class="canvas">
    <header class="header header-2" style="overflow: hidden; position: relative;">
        <div class="branding">
            <a href="..." class="nav-link">
                <clr-icon shape="clock" class="is-inverse"></clr-icon>
                <span class="title">All Events</span>
            </a>
        </div>
        
      <div class="header-actions" >
         
          <button class="btn btn-inverse" id="Add" (click)="openAddEventDialog()">I did not hit her!
            </button>
            
      
          <clr-dropdown  >
              <button class="nav-icon" clrDropdownTrigger>
                  <clr-icon shape="cog"></clr-icon>
                  <clr-icon shape="caret down"></clr-icon>
              </button>
              <clr-dropdown-menu *clrIfOpen  clrPosition="bottom-right">
                  <p clrDropdownItem (click)="sidenav.toggle()">Categories</p>
                  <a href="..." clrDropdownItem>Events</a> 
                  <a href="..." clrDropdownItem>Log out</a>
              </clr-dropdown-menu>
          </clr-dropdown>
      </div>
    </header>
    <h1>wdog  w pqj3qepoij</h1>
    </div>  
    
    
    </mat-sidenav-container>
