
  <!-- <mat-card>
    <mat-card-header>
      <mat-card-title><h1>Dialog Demo</h1></mat-card-title>
    </mat-card-header>
    <hr>
    <mat-card-content>
      <button mat-raised-button (click)="openAddEventDialog()">Open Dialog</button>
      <hr>
      <strong>Result: {{dialogResult}}</strong>
    </mat-card-content>
  </mat-card> -->

  <mat-sidenav-container >
    <mat-sidenav #sidenav  mode="side" style="overflow: hidden !important;">
        <div class="canvas-side"> 
        <header style="overflow: hidden !important;">
        <form class="search" (submit)="onSubmit()">
            <label for="search_input">
                <input id="search_input" type="text" placeholder="Search for keywords...">
            </label>
        </form>
        </header>   
          <!-- <h1>Categories</h1> -->
          <h2>Categories</h2>
          <div class="random" *ngFor="let cat of categories">
              {{cat}}
          </div>
          <!-- <button class="btn btn-inverse" id="Add" (click)="showCategories()">I did not hit her!
            </button> -->

        </div>
    </mat-sidenav>
    
    <div class="canvas">
    <header class="header header-2" style="overflow: hidden; position: relative;">
        <div class="branding">
            <a href="..." class="nav-link">
                <clr-icon shape="clock" class="is-inverse"></clr-icon>
                <span class="title">All Events</span>
            </a>
        </div>
        
        
      <div class="header-actions" >
         
          <button class="btn btn-inverse" id="Add" (click)="openAddEventDialog()">Add event
            </button>
            
      
          <clr-dropdown  >
              <button class="nav-icon" clrDropdownTrigger>
                  <clr-icon shape="cog"></clr-icon>
                  <clr-icon shape="caret down"></clr-icon>
              </button>
              <clr-dropdown-menu *clrIfOpen  clrPosition="bottom-right">
                  <p clrDropdownItem (click)="sidenav.toggle()">Categories</p>
                  <a href="..." clrDropdownItem>Events</a> 
                  <a href="..." clrDropdownItem>Log out</a>
              </clr-dropdown-menu>
          </clr-dropdown>
      </div>
    </header>
    <h1>Events</h1>
    <!-- <div class="random" *ngFor="let event of events">
            {{event}}
    </div> -->
    <clr-datagrid>
            <clr-dg-column>Name</clr-dg-column>
            <!-- <clr-dg-column>Date</clr-dg-column> -->
            <clr-dg-column>Categories</clr-dg-column>
            <clr-dg-column>Description</clr-dg-column>
        
            <clr-dg-row *ngFor="let event of events">
                <clr-dg-cell>{{event.name}}</clr-dg-cell>
                <!-- <clr-dg-cell>{{event.date}}</clr-dg-cell> -->
                clr-dg-cell *ngIf="event.programming === true">Programming</clr-dg-cell>
                <clr-dg-cell *ngIf="event.maths === true">Maths</clr-dg-cell>
                <clr-dg-cell *ngIf="event.physics === true">Physics</clr-dg-cell>
                <clr-dg-cell>{{event.description}}</clr-dg-cell>
              
            </clr-dg-row>
        
            
        </clr-datagrid>
    </div>  
    
    
    </mat-sidenav-container>
